<div class="container">

  <div class="row row-m-t">
    <div class="col-md-10 .offset-md-3">

      <div [hidden]="submitted">

        <h1>Formulaire :</h1>

        <form (ngSubmit)="onSubmit(); userForm.reset()" #userForm="ngForm">

          <!--ID field-->
          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="model.id" name="id" #id="ngModel">
            <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
              ID is required
            </div>
          </div>

          <!--Name field-->
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div>
          </div>

          <!--Card number field-->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="model.email" name="email" #email="ngModel">
          </div>

          <!--Card type field-->
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" [(ngModel)]="model.phone" name="phone" #phone="ngModel">
          </div>

          <div class="text-right">
            <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid" >{{buttonInfo}}</button>
          </div>
          
        </form>

      </div>

    </div>
  </div>

</div>