<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>
        <span class=" float-right">
          <button (click)="onSelectUser(user.id)" class="btn btn-outline-primary mb-1 btn-sm">DETAILS</button>
          <button (click)="onEditUser(user.id)" class="btn btn-outline-warning mb-1 btn-sm">EDIT</button>
          <button (click)="onDeleteUser(user.id)" class="btn btn-outline-danger mb-1 btn-sm">DELETE</button>
        </span>
      </td>
    </tr>
  </tbody>
</table>